<%- include('partials/header.ejs') %>
    <body>
        <div>
            <form action="/search">
                <input type="text" name="search_string">
                <br>
                <button> Search </button>
            </form>
            
            <h2> Top Ten Movies: </h2>
            <% resultArray.forEach( (result) => { %>
            <div>
                        
                <h3> <%= result.title %> </h3>
                <img src="<%= result.imageUrl %>" alt="Movie poster">
                <h3>Rating: <%= result.rating %> </h3>
                <h3> ID: <%= result.movieID %> </h3>
                <h3>Release Date: <%= result.release_date %> </h3>
                <p><%= result.overview %></p>
                <% result.genres.forEach((genre) => { %>
                    <h3><%= genre; %> </h3>
                <% }); %>
                <hr>
            </div>
        
        <% });%>
        </div>
        
<%- include('partials/footer.ejs') %>

    </body>
</html>